*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav{
    display: flex;
    height: 6rem;
    padding: 0 2rem;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
}

a{
    text-decoration: none;
    color: #6D6D6D;
}

a:hover{
    cursor: default;
}

a:active{
    color: #140303;
}

.news-items{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.icon-items{
    display: flex;
    width: 10%;
    justify-content: space-between;
}

.logo{
    height: 3rem;
}

p{
    color:#2A2A2A;
    text-align: justify;
    line-height: 165%;

}

.headline{
    font-size: 2rem;
    line-height: 120%;
}

article{
    margin: 0 1rem;
}

@media (max-width: 30rem) {
    .news-items{
        display: none;
    }
    
    .top-article{
        display: flex;
        flex-direction: column;
    }
     .top-article-header{
        display: flex;
        justify-content: space-between;
        margin: 0 0.5rem;
     }
    .top-article-icons{
        width: fit-content;
        display: flex;
        margin-top: 0.2rem;
        gap: 1rem;
    }
    .top-article-adjective{
        color: var(--Main-Red, #C31815); ;
    }
}