*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav{
    display: flex;
    height: 6rem;
    padding: 0 2rem;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    background-color: #F7F4F4;
}

a{
    text-decoration: none;
    color: #6D6D6D;
}

a:hover{
    cursor: default;
}

a:active{
    color: #140303;
}

.news-items{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.icon-items{
    display: flex;
    width: 10%;
    justify-content: space-between;
}

.logo{
    height: 3rem;
}

/* end of nav bar */

h3{
    font-size: 5rem;
    margin-bottom: 2rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.form-item{
    display: block;
    width: 20rem;
    padding: 0.8rem;
    border-radius: 2rem;
    border-style: none;
    background-color: #D9D9D9;
}

.bottom-form{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.submit-btn{
    border-radius: 2rem;
    width: 20rem;
    padding: 0.8rem;
    border-style: none;
    font-weight: 600;
    color: #FFFF;
    background-color: #FD6930;
    margin-bottom: 0.5rem;
}

button:hover{
    background-color: #ff4800;
}

.login-link{
    text-decoration: none;
    color: #FFFF;
    font-weight: 600;
}

p{
    color: #6D6D6D;
}

.signup-link{
    color: #6D6D6D;
    font-weight: 600;
    text-decoration: none;

}
@media (max-width: 30rem) {
    .header-main{
        display: none;
    }
    h3{
        font-size: 4rem;
    }
    .form-item{
        width: 18rem;
    }
    .submit-btn{
        width: 18rem;
    }
}